/* line 3, ../scss/bruno_styles.scss */
.home .dataTables_length, .home .dataTables_filter {
  display: none;
}

/* line 8, ../scss/bruno_styles.scss */
.fixed {
  position: fixed;
}

/* line 14, ../scss/bruno_styles.scss */
.nested {
  flex-direction: row;
  display: flex;
  position: absolute;
  list-style: none;
}
/* line 20, ../scss/bruno_styles.scss */
.nested a {
  font-weight: normal !important;
}

/* line 26, ../scss/bruno_styles.scss */
.navbar-nav li a {
  padding: 15px;
  font-weight: bold;
}

/* line 32, ../scss/bruno_styles.scss */
.single strong {
  margin-left: 15px;
}

/* line 36, ../scss/bruno_styles.scss */
.single h2 {
  border-bottom: 2px solid black;
}
