.home {

  .dataTables_length,
  .dataTables_filter {
    display: none;
  }
}

.fixed {
  position: fixed;
}



.nested {
  flex-direction: row;
  display: flex;
  position: absolute;
  list-style: none;

  a {
    font-weight: normal !important;

  }
}

.navbar-nav li a {
  padding: 15px;
  font-weight: bold;

}

// .single strong {
//   margin-left: 15px;
// }

.single h2 {
  border-bottom: 2px solid black;
}
