section{
    &.underline{
        margin-bottom: 60px;
        border-bottom: 1px solid #000;
        padding-bottom: 60px;
        &:first-child{
            margin-top: 40px;
        }
        &:last-child{
         border-bottom: none;
        }
        h5{
            margin-top: 10px;
            margin-bottom: 25px;
            @include respond-to(md){
                margin-top: 0;
            }
        }
    }
    &.texts{
        margin-bottom: 40px;
        &:first-child{
            margin-top: 40px;
        }
        h2{
            border-bottom: thin solid #000;
            margin-bottom: 10px;
        }
        .text-item{
            line-height: 30px;
        }
        
    }
    &.padding-bottom{
        padding-bottom: 100px;
    }
}

.filter-items{
    &.hide{
        display: none;
    }
}

.filter-button-group{
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
    padding-bottom: 15px;
    overflow: auto;
    span{
        background-image: url(assets/img/arrow_right.gif);
        background-repeat: no-repeat;
        background-position: right;
        padding-right: 60px;
        padding-left: 0;
        margin-right: 20px;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
        @include respond-to(lg){
            margin-right: 40px;
            font-size: 20px;
        }
        @include respond-to(xl){
            margin-right: 90px;
            font-size: 24px;
        }
        &.is-checked{
            text-decoration: underline;
        }        
    }
    &.works{
        border-bottom: 1px solid #000;
        margin-bottom: 30px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        @include respond-to(md){
            text-align: left;
            flex-direction: row;
            padding-bottom: 0;
        }
        div{
            text-transform: uppercase;
            padding-left: 20px;
            cursor: pointer;
            padding-bottom: 20px;
            &:last-child{
                padding-bottom: 0;
            }
            @include respond-to(md){
                padding-bottom: 0;
            }
            &.is-checked{
                font-weight: bold; 
            } 
        }
    }
}    

